.navbar{
    height: 6rem;
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    background-color: rgb(245, 235, 235);
    box-shadow:2px 0 3px grey;
}

.left{
    height: 6rem;
    width: 50%;
    /* border: 2px solid red;  */
    /* justify-content: flex-end;
    align-items: flex-end; */
    
}



.right{
    height: 6rem;
    width: 50%;
    /* border: 2px solid red; */
}

img {
    width: 200px;
    height: 6rem;
    object-fit: fill;
    /* You can also use cover instead of fill but they are different */
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* border: 1px solid red; */
    /* padding: 5px; */


    
}
.fname{
    /* border: 5px solid red; */
    margin: 5px;
    height: 2rem;
    width: 15rem;
}

.lname{
    /* border: 5px solid red; */
    margin: 5px;
    height: 2rem;
    width: 15rem;
}

.email{
    /* border: 5px solid red; */
    margin: 5px;
    height: 2rem;
    width: 15rem;
}

.pwd{
    margin: 5px;
    height: 2rem;
    width: 15rem;
}

.confirmpwd{
    margin: 5px;
    height: 2rem;
    width: 15rem;
}

.btn{
    margin: 5px;
    cursor: pointer;
    height: 2rem;
    width: 15rem;
    background-color: crimson;
    outline: none;
    border: none;
}